* {
  font-family: 'Raleway', sans-serif;
  background-color: #DCDCDD;
  color: #46494C;
  text-decoration: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.phase-name:hover, .workout-name:hover, .program:hover {
  cursor: pointer;
  color: #1985A1;
}

button {
  border: 1.5px solid #C5C3C6;
  padding: 5px 15px;
  border-radius: 15%;
}

button:hover {
  background-color: #C5C3C6;
  cursor: pointer;
}


